* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #edf1f4;
  .light-icon,
  .dark-icon {
    font-size: 30px;
  }
  .light-icon {
    display: none;
    filter: invert(100%) brightness(100%);
  }
  .dark-icon {
    display: block;
  }
  &.dark {
    .light-icon {
      display: block;
    }
    .dark-icon {
      display: none;
    }
  }
}
body.dark {
  background: #282c2f;
}

.calculator {
  position: relative;
  width: 340px;
  padding: 20px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  .dark & {
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
      -15px -15px 20px rgba(255, 255, 255, 0.1);
  }
}

.calculator .buttons {
  position: relative;
  display: grid;
}

.calculator .buttons #value {
  position: relative;
  grid-column: span 4;
  user-select: none;
  overflow: hidden;
  width: 100%;
  text-align: end;
  color: #5166d6;
  height: 100px;
  line-height: 100px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
  margin-bottom: 12px;
  padding: 0 20px;
  font-size: 2em;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .dark & {
    color: #eee;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),
      inset -15px -15px 20px rgba(255, 255, 255, 0.1);
  }
}

.calculator .buttons span {
  position: relative;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fff;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #666;
  min-width: 40px;
  border: 2px solid #edf1f4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .dark & {
    color: #eee;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
      -5px -5px 10px rgba(255, 255, 255, 0.1);
  }
}

.calculator .buttons span:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
  color: #f44336;
  .dark & {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
      inset -5px -5px 10px rgba(255, 255, 255, 0.1);
  }
}

.calculator .buttons span#clear {
  grid-column: span 2;
  color: #fff;
  background: #f44336;
  border: 2px solid #edf1f4;
}

.calculator .buttons span#plus {
  grid-row: span 2;
  color: #fff;
  background: #31a935;
  border: 2px solid #edf1f4;
}

.calculator .buttons span#equal {
  grid-row: span 2;
  color: #fff;
  background: #2196f3;
  border: 2px solid #edf1f4;
}

.calculator .buttons span#clear,
.calculator .buttons span#plus,
.calculator .buttons span#equal {
  &:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px #fff,
      inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .dark & {
    border: 2px solid #333;
  }
  .dark &:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
